.page-comments {
  background: #fff;

  @include mq-md {
    background: #f2f2f2;
  }

  @include mq-lg {
    background: #f2f2f2;
  }
}

.page-comments__effect-wrapper {
  @include mq-md {
    height: 0;
  }

  @include mq-lg {
    height: 0;
  }
}

.page-comments__effect-header-wrapper {
  position: relative;
  top: -250px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.page-comments__effect-header {
  max-width: 140px;

  font-size: 24px;
  font-weight: bold;
  line-height: 24px;

  @include mq-md {
    max-width: 300px;

    font-size: 30px;
  }

  @include mq-lg {
    max-width: 300px;

    font-size: 30px;
  }
}

.page-comments__effect-text-wrapper {
  position: relative;
  top: -250px;
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.page-comments__effect-text {
  max-width: 280px;

  font-size: 14px;
  line-height: 24px;

  @include mq-md {
    max-width: 450px;

    font-size: 18px;
  }

  @include mq-lg {
    max-width: 450px;

    font-size: 18px;
  }
}

.page-comments__effect-link-wrapper {
  position: relative;
  top: -250px;
  margin-top: 30px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.page-comments__effect-link {
  font-size: 14px;
  text-decoration: none;
  color: #d22856;

  @include mq-md {
    font-size: 18px;
    text-decoration: underline;
  }

  @include mq-lg {
    font-size: 18px;
    text-decoration: underline;
  }
}

.page-comments__header-wrapper {
  padding-top: 55px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  @include mq-sm {
    position: relative;
    top: 0;

    padding-top: 0;
  }

  @include mq-md {
    position: relative;
    top: 284px;

    padding-top: 100px;
    padding-bottom: 140px;

    background: #fff;
  }

  @include mq-lg {
    position: relative;
    top: 284px;

    padding-top: 100px;
    padding-bottom: 140px;

    background: #fff;
  }
}

.page-comments__header {
  max-width: 180px;

  font-size: 18px;
  font-weight: bold;

  @include mq-md {
    max-width: 300px;

    font-size: 24px;
  }

  @include mq-lg {
    max-width: 300px;

    font-size: 24px;
  }
}

.page-comments__header-job {
  display: none;

  @include mq-sm {
    display: inherit;
    padding-top: 20px;

    font-size: 14px;
    font-weight: normal;
  }

  @include mq-md {
    display: inherit;
    padding-top: 20px;

    font-size: 18px;
    font-weight: normal;
  }

  @include mq-lg {
    display: inherit;
    padding-top: 20px;

    font-size: 18px;
    font-weight: normal;
  }
}

.page-comments__text-wrapper {
  margin-top: 33px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  @include mq-sm {
    position: relative;
    top: -200px;
    margin-top: 0;
  }

  @include mq-md {
    position: relative;
    top: -250px;
    margin-top: 0;

    padding-top: 100px;

    background: #fff;
  }

  @include mq-lg {
    position: relative;
    top: -250px;
    margin-top: 0;

    padding-top: 100px;

    background: #fff;
  }
}

.page-comments__text {
  position: relative;

  max-width: 270px;

  font-size: 14px;
  text-align: center;

  @include mq-sm {
    max-width: 540px;

    font-size: 18px;
  }

  @include mq-md {
    max-width: 560px;

    font-size: 18px;
    line-height: 30px;
  }

  @include mq-lg {
    max-width: 560px;

    font-size: 18px;
    line-height: 30px;
  }
}

.page-comments__text::before {
  display: none;

  @include mq-md {
    position: relative;
    left: 45%;
    top: -40px;

    display: block;
    width: 79px;
    height: 64px;

    background: url(../../img/quotes.svg) no-repeat;

    content: "";
  }

  @include mq-lg {
    position: relative;
    left: 45%;
    top: -40px;

    display: block;
    width: 79px;
    height: 64px;

    background: url(../../img/quotes.svg) no-repeat;

    content: "";
  }
}

.comments-slider {
  margin-top: 46px;

  @include mq-sm {
    margin-top: 0;
  }

  @include mq-md {
    display: none !important;
  }

  @include mq-lg {
    display: none !important;
  }
}
