.page-comments__effect-photo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 55px;
}

.page-comments__effect-photo {
  width: 262px;
  height: 302px;
  background: url(../../img/temp.png) no-repeat;
}
