.slider-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  margin-top: -3px;

  display: inline-block;
  width: 15px;
  height: 15px;

  background: #fff;
  border-radius: 100%;
  border: 4px solid #283645;

  box-sizing: border-box;
}

label {
  margin: 0 15px;

  display: inline-block;
  width: 10px;
  height: 10px;

  border-radius: 100%;
  background: #bec2c7;

  content: "";
  box-sizing: border-box;
}
